# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/svg_electric_db?schema=public"

# Auth Session Secret (Generate a strong 32+ char key)
SESSION_SECRET="your-super-secret-jwt-session-key-min-32-chars-long"

# Default Admin Credentials for DB Seed
ADMIN_EMAIL="admin@svgelectric.com"
ADMIN_PASSWORD="Admin@12345"

# Default Sales Credentials for DB Seed
SALES_EMAIL="sales@svgelectric.com"
SALES_PASSWORD="Sales@12345"

# Port
PORT=3000
